body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color:antiquewhite
}

header {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  background-color: #ff6961;
  text-align: center;
}

section1 {
font-family:'Times New Roman', Times, serif
font-style: normal;
text-align: center;
}

section2 {
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  text-align: left;
}

section3 {
  font-family: 'Times New Roman', Times, serif;
  font-size:larger;
  text-align: center;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #010000;
  border-left: 1px solid black;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: medium;
  font-size: 20px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  background-color:#ff6961;
  color: white;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #6666f7;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 160px;
  background-color: rgb(87, 192, 241);
  text-align: center;
  margin-top: 10px;
}

.container {
  max-width: 405px;
  margin: 137px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.to-do-app {
  width: 100%;
  padding: 20px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: 1px solid #d3d3d3;
}
.to-do-app h2 {
  padding: 10px;
}
.to-do-app input {
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #d3d3d3;
}
.to-do-app button {
  width: fit-content;
  padding: 5px;
  cursor: pointer;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background-color: whitesmoke;
}
.to-do-app button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
li {
  font-size: 1.5rem;
}
.to-do-list {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  list-style: none;
}
.to-do-list li{
  font-size: small;
  background-color: whitesmoke;
  padding: 20px;
}