body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  background-color:antiquewhite
}

header {
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  background-color: #ff6961;
  text-align: center;
}

section1 {
font-family:'Times New Roman', Times, serif;
text-align: center;
}

.section2 {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}

section3 {
  font-family: 'Times New Roman', Times, serif;
  text-align: left;
}

section4 {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #010000;
  border-left: 1px solid black;
  padding: 10px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bolder;
  font-size: medium;
  font-size: 20px;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  border-radius: 15px;
  background-color:#ff6961;
  color: white;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #6666f7;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  z-index: -1;
  height: 160px;
  background-color: rgb(87, 192, 241);
  text-align: center;
  margin-top: 10px;
}
